body{
	margin: 0;
	background-color: #1c253c;
}


.title{margin: 0; 
	padding-left: auto;
	padding-right: auto;
	padding-top: 18%;
	padding-bottom: 5%;
	text-align: center;
	text-decoration: underline;
	color: white;
	font-size: 4vw;
	font-family: 'Inconsolata', monospace;	
}


.footer{clear: both;
	padding-top: 5%;
	padding-bottom: 3%;
	width: 100%;
text-align: center;		
color: black;
font-size: 2vw;
font-family: 'Inconsolata', monospace;	

}