html{height: 100%;
background: linear-gradient(to bottom, #cebbaa, #9c776f);	/*Used a gradient background that matches the colour scheem of the meme panel so as to display when the screen is resized*/
margin:0;
}

body{							/*Removed margins so that the background image fits well*/
	padding: 0;
	margin: 0;
}

@font-face{						/*Downloaded a font to match the meme typography*/
    font-family: "Pigeon";
    src: url("Resources/PigeonFont/OldSansBlack.ttf");
}




.img{width: 100%;				/*This is the background image div that the text and the butterfly image are positioned "relative" to. It's also placed nehind as seen from the z-index value*/
	margin: 0;
	padding: 0;
	float: left;
	z-index: 1;
	position: relative;
}

.img2{margin: 0;				/*This is the butterfly div*/
	padding: 0;
	position: absolute;
	top: 8%;
	right: 15%;
	z-index: 2;					/*Placed in front of the background image as seen through the z-index value*/
}

.butt{width:15vw;				/*This is the butterfly image which is scaled as the window is resized in order to still fit the meme*/
}

.back{							/*This is the background image made to fit the full width of the screen*/
	width: 100%;
	margin: 0;
	padding: 0;
	float: left;
}



.text{width: 100%;
	padding-left: auto;			/*Centered text*/
	padding-right: auto;
	position: absolute;
	bottom: 10%;
	left: 0;
	z-index: 2;					/*Placed in front of the background image as seen through the z-index value*/
	margin: 0;
	text-align: center;
}

p{	margin: 0;
	padding: 0;
	font-family: Pigeon;		/*Using the custom font that I named "Pigeon" for convenience*/
	color: white;
	font-size: 3vw;
	text-shadow: 2px 2px 1px black;	/*Added details to the font to make sure it fits the subtitle typography used in the meme*/
}