html{
	/*background-color: #AED6F1 */  /*blue*/
	/*background-color: #F7DC6F */  /*yellow*/
	background-color: #F1948A /*salmon*/
}



img {height: 200;

}

h1 { font-size: 40px; 
	text-align: center;
  	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

/*span clap { font-size: 10px; */
	/*text-align: center;*/
  	/*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }*/
